<div style="padding-top: 40px; padding-bottom: 40px">
  <h1 class="text-center">BestHoliday.com</h1>
</div>
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">

    <div>
      <a class="btn text-light" href="#" routerLink="/">
        Главная
      </a>
    </div>

    <div class="dropdown">
      <button class="btn text-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Страны
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" routerLink="/countries">Все страны</a>
        <div *ngFor="let country of countries">
          <a class="dropdown-item" href="#" [routerLink]="['/country/', country.idCountry]">{{country.name}}</a>
        </div>
      </div>
    </div>

    <div>
      <a class="btn text-light" href="#" routerLink="/air-tour">
        Авиатуры
      </a>
    </div>

    <div>
      <a class="btn text-light" href="#" routerLink="/bus-tour">
        Автобусные туры
      </a>
    </div>

    <div class="dropdown">
      <button class="btn text-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Туристам
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Отзывы</a>
        <a class="dropdown-item" href="#">Документы на визу</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn text-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Контакты
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

  </div>
</nav>




