<div class="container">
  <div class="row">
  <div class="col-md-12" style="margin-top: 24px">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <div *ngIf="tour && country" style="padding: 5px">
          <h5 class="text-center" *ngIf="tour.transport == 'Автобус'">Автобусный тур с отдыхом в {{country.name}}</h5>
          <h6 *ngIf="tour.transport == 'Самолет'">Тур с перелетом в {{country.name}}</h6>
          <h6 class="text-center">Страна</h6>
          <p>{{country.description}}</p>
          <h6 class="text-center">Описание</h6>
          <p>{{hotel.description}}</p>
          <p>Город тура: {{city.name}}, расстояние от Минска {{city.distance}}. На {{tour.time}} дней</p>
          <p>Отель {{hotel.name}}, уровень {{hotel.level}}.</p>
          <p>Питание: {{food.type}}, {{food.description}}.</p>
          <p>Дата выезда: {{tour.date}}</p>
          <p></p>
          <p>Цена: {{tour.price}}$</p>
        </div>
        <div class="justify-content-center">
          <button class="btn btn-dark" routerLink="/reservation">Забронировать</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
