<div style="background-color: lightgrey; padding-top: 40px; padding-bottom: 40px">
  <h2 class="text-center">Контакты</h2>
</div>
<div class="container" style="padding: 30px">
  <div class="row justify-content-center">
    <div class="m-6 text-center" style="margin-left: 50px">
      <p>Телефон:</p>
      <p>Адрес:</p>
      <p>Email:</p>
    </div>
    <div class="m-6 text-center" style="padding-left: 20px">
      <p>+375445333105</p>
      <p>г. Минск, ул. Орловская 2</p>
      <p>vladbykovskyy@gmail.com</p>
    </div>
  </div>
</div>
