<div style="background-color: lightgrey; padding-top: 40px; padding-bottom: 40px">
  <h2 class="text-center">Страны</h2>
</div>
<div class="container">
<div class="row">
  <div class="col-md-2" style="margin-top: 24px">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <div *ngFor="let country of countries" style="padding: 5px">
          <a href="#" [routerLink]="['/country/', country.idCountry]" style="color: black">{{country.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
