<div style="background-color: lightgrey">
<div>
  <h2 class="text-center" style="padding-top: 40px; padding-bottom: 40px">
    Популярные направления
    <hr style="width: 300px">
  </h2>
<div class="row justify-content-center">
  <div class="m-3 image">
    <h3 class="text-center">Испания</h3>
    <a href="#"><img src="../../assets/country/Spain.png" alt="spain"></a>
  </div>
  <div class="m-3 image">
    <h3 class="text-center">Франция</h3>
    <a href="#"><img src="../../assets/country/France.png" alt="france"></a>
  </div>
  <div class="m-3 image">
    <h3 class="text-center">Италия</h3>
    <a href="#"><img src="../../assets/country/Italy.png" alt="italy"></a>
  </div>
  <div class="m-3 image">
    <h3 class="text-center">Германия</h3>
    <a href="#"><img src="../../assets/country/Germany.png" alt="germany"></a>
  </div>
</div>
</div>
<hr>

<div>
  <h2 class="text-center" style="padding-top: 40px; padding-bottom: 40px">
    Горящие предложения
    <hr style="width: 300px">
  </h2>
  <div class="row justify-content-center">
    <div class="m-3 image">
      <h3 class="text-center">Норвегия</h3>
      <a href="#"><img src="../../assets/country/Norway.png" alt="spain"></a>
    </div>
    <div class="m-3 image">
      <h3 class="text-center">Швеция</h3>
      <a href="#"><img src="../../assets/country/Sweden.png" alt="france"></a>
    </div>
    <div class="m-3 image">
      <h3 class="text-center">Украина</h3>
      <a href="#"><img src="../../assets/country/Ukraine.png" alt="italy"></a>
    </div>
    <div class="m-3 image">
      <h3 class="text-center">Россия</h3>
      <a href="#"><img src="../../assets/country/Russia.png" alt="germany"></a>
    </div>
  </div>
</div>
</div>
<div class="row justify-content-center" style="padding-top: 50px; padding-bottom: 50px">
  <div class="m-4 text-center" style="max-width: 20%">
    <h2>BestHolidays</h2>
  </div>
  <div class="m-8 text-left" style="max-width: 40%">
    <p>
      «BestHolidays» – туристическая компания,
      являющаяся ведущим туроператором автобусных туров белорусского туристического рынка.
      Клиентоориентированность – это цель компании «BestHolidays»,
      следовательно мы делаем отдых максимально комфортным с минимальными на это затратами.
      Наш девиз – клиент всегда прав.
    </p>
  </div>
</div>
