<div style="background-color: rgba(0, 0, 0, .85); padding-top: 40px; padding-bottom: 20px">
<div>
  <h3 class="text-center text-light">BestHolidays.com</h3>
</div>
<div class="row justify-content-center">
  <div class="m-2 text-light text-center">
    <h5>Контакты</h5>
    <p>Телефон</p>
    <p>Почта</p>
    <p>Адресс</p>
  </div>
  <div class="m-2 text-light text-center">
    <h5>Информация</h5>
    <p>Владелец</p>
    <p>Условия</p>
    <p>Компания</p>
  </div>
</div>
  <div class="text-center">
    <small class="text-muted">BestHolidays.com @ 2019</small>
  </div>
</div>
